[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
Flask = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
Flask-RESTful = "*"
google-auth = "*"


[dev-packages]



[requires]

python_version = "3.6"
