<!DOCTYPE html>
<html ng-app="Stock Fantasy League" lang="en">
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="667783900886-6p5fn2lrhu0q265ibuuufmk3t95ack93.apps.googleusercontent.com">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="cookie_manager.js"></script>
        <script src="main.js"></script>
<title>{{title}}</title><!--Home page-->
</head>

<body>
<div class="container-fluid">
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" ng-controller="NavbarController">
  <a class="navbar-brand" href="#">Stock Fantasy League</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto" id="navbarNav" >
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active" ng-repeat="navItem in navItems.links">
        <a class="nav-link" ng-href="{{navItem.href}}">{{navItem.name}}</a>
        </li>
    </ul>
    </div>
      <li class="nav-item dropdown" id="signedInDropdown" ng-show="signedIn == true">
       <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>-->
            <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
    <img class="rounded-circle" ng-src="{{imageurl}}" width="40" height="40" alt="">
                <span>{{username}}</span>
  </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Notification Preferences</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ng-click="signOut();" href="#">Log Out</a>
        </div>
      </li>
<form class="form-inline" ng-show="navItems.search">
      <input class="form-control" type="search" placeholder="Search"/>
</form>
</nav>
    <div ng-include="'login.html'"></div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</body>
</html>