<div style="width: 100%; height: 100%">
    <div class="card" style="width: 100%; height: 100%">
        <div class="card-header">
            {{lesson[curquestion].topic}}
        </div>
        <div class="card-body">
            <p class="card-text">{{lesson[curquestion].description}}</p>
            <button ng-show="curquestion>0" ng-click="prevQuestion();" class="btn btn-primary">Previous</button>
            <button ng-show="curquestion< (numEvent-1)" ng-click="nextQuestion();" class="btn btn-primary">Next</button>
        </div>
    </div>
