<div class="modal" id="holdingsModal" tabindex="-1" role="dialog" aria-labelledby="holdingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="holdingsModalLabel">{{transactionType}}: {{selectedTicker}} - {{selectedName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-onclick=""><!--reset selection-->
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div ng-if="transactionType == 'Buy'">
                    <form id="modifyHoldings" ng-controller="PlayerController">
                        <!--<div class="form-group">
                            <input type="radio" ng-model="transactionType" value="Buy" checked="checked"> Buy
                            <input type="radio" ng-model="transactionType" value="Sell"> Sell
                        </div>-->
                        <div class="form-group">
                            <p> Your available balance is {{player.availbalance | currency}}.</p>
                            <label for="StockTicker">Stock Ticker</label>
                            <input type="text" readonly class="form-control-plaintext form-control-lg" id="StockTicker" ng-model="selectedTicker">
                        </div>
                        <div class="form-group">
                            <label for="Stock Ticker">Stock Name</label>
                            <input type="text" readonly class="form-control-plaintext form-control-lg" ng-model="selectedName">
                        </div>
                        <div class="form-group">
                            <label for="Stock Ticker">Current Stock Price</label> {{selectedStockPrice | currency}}
                        </div>
                        <div class="form-group">
                            <label for="Number">Number of Shares to Buy</label>
                            <input type="number" class="form-control" id="StartBalanceInput" min="0" ng-maxLength="maxLength" ng-model="numSharesSelected">
                            <p> Your available balance is {{player.availbalance | currency}} .</p>
                            <p> Your transaction cost is {{numSharesSelected * selectedStockPrice | currency}}.</p>
                            <p> Your remaining balance will be {{(player.availbalance - numSharesSelected*selectedStockPrice) | currency}}.</p>
                            <p>If more stocks are purchased than available funds, the maximum shares that a player can afford are bought.</p>
                        </div>
                        <button class="btn btn-primary" type="submit" ng-click="modifyHoldings(selectedStock,transactionType,numSharesSelected,selectedStockPrice,false);" data-dismiss="modal" data-backdrop="false">{{transactionType}} {{selectedTicker}}</button>
                    </form>
                </div>
                <div ng-if="transactionType == 'Sell'">
                    <form id="modifyHoldings" ng-controller="PlayerController">
                        <h3>{{transactionType}}: {{selectedTicker}} - {{selectedName}}</h3>
                        <!--<div class="form-group">
                            <input type="radio" ng-model="transactionType" value="Buy" checked="checked"> Buy
                            <input type="radio" ng-model="transactionType" value="Sell"> Sell
                        </div>-->
                        <div class="form-group">
                            <p> Your available balance is {{player.availbalance | currency}}.</p>
                            <p> You own {{player.numSharesOwned}} share of {{selectedTicker}}.</p>
                            <label for="StockTicker">Stock Ticker</label>
                            <input type="text" readonly class="form-control-plaintext form-control-lg" id="StockTicker" ng-model="selectedTicker">
                        </div>
                        <div class="form-group">
                            <label for="Stock Ticker">Stock Name</label>
                            <input type="text" readonly class="form-control-plaintext form-control-lg" ng-model="selectedName">
                        </div>
                        <div class="form-group">
                            <label for="Stock Ticker">Current Stock Price</label> {{selectedStockPrice | currency}}
                        </div>
                        <div class="form-group">
                            <label ffor="Number">Number of Shares to Sell</label>
                            <input type="number" class="form-control" id="StartBalanceInput" ng-model="numSharesSelected" min="0" min="0" ng-maxLength="numSharesOwned">
                            <p> Your available balance is {{player.availbalance | currency}}.</p>
                            <p> Your sale income is {{numSharesSelected*selectedStockPrice | currency}}.</p>
                            <p> Your total balance will be {{player.availbalance +numSharesSelected*selectedStockPrice | currency}}.</p>
                            <p>If more stocks are sold than available funds, all of the shares the player owns are sold.</p>
                        </div>
                        <button class="btn btn-primary" type="submit" ng-click="modifyHoldings(selectedStock,transactionType,numSharesSelected,selectedStockPrice,false);" data-dismiss="modal" data-backdrop="false">{{transactionType}} {{selectedTicker}}</button>
                    </form>
                </div>
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div id="tradingview_cd18d"></div>
                    <div class="tradingview-widget-copyright"><a ng-href="https://www.tradingview.com/symbols/{{selectedTicker}}/" rel="noopener" target="_blank"><span class="blue-text">{{selectedStock}}</span> <span class="blue-text">chart</span> by TradingView</a></div>

                </div>
                <!-- TradingView Widget END -->
            </div>
        </div>
    </div>
</div>
