<div ng-controller="PlayerController">
    <ul>
        <li>League Name: {{ league.leaguename }}</li>
        <li>League Description: {{ league.description }}</li>
        <li>League Starting Balance: {{ league.duration }}</li>
    </ul>
    <!--Search-->
    <ul>
        Player Stats
        <li>
            Ranking: {{ player.ranking }}
        </li>
        <li>
            Available Balance: {{ player.availbalance }}
        </li>
        <li>

        </li>
    </ul>
    <title>All Holdings</title>
    <input placeholder="Stock Ticker" type="text" ng-model="stockSelect.symbol">
    <input placeholder="Stock Name" type="text" ng-model="stockSelect.name">
    <table class="table">
        <tr>
            <td>Stock Ticker</td>
            <td>Stock Name</td>
            <td>Stock Price</td>
            <td>Buy</td>
            <td>Sell</td>
        </tr>

        <tr scope="row" ng-repeat="stock in topStocks| filter : stockSelect">
            <td>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.price | currency}}</td>
            <td>buy_button</td>
            <td>sell_button</td>
        </tr>
    </table>
</div>
