<!-- List of all the users - HTML Template
        Written By: Oz Bejerano
        Tested By: Oz Bejerano
        Debugged By: Oz Bejerano
    -->
<div ng-controller="UserListController">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Users</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search" ng-model="UserSelect.username">
        </form>
    </nav>
    <br>
    <div ng-repeat="row in organizedData | filter: UserSelect">
        <div class="card-deck row">
            <div class="card col-sm-4" ng-repeat="user in row | filter: UserSelect">
                <img class="card-img-top rounded-circle" style="width:60%;margin:auto; margin-top:1.5em;" ng-src="{{user.imageurl}}" alt="Card image cap">
                <div class="card-body">
                    <a ng-href="#!/user/{{user.uid}}">
                        <h5 class="card-title">{{ (user.username | limitTo: 20) + (league.description.length > 20 ? '...': '')}}</h5>
                    </a>
                    <p class="card-text" ng-if="user.description != '{}'">{{(user.description | limitTo: 20) + (league.description.length > 20 ? '...': '')}}</p>
                    <p class="card-text" style="color: slategray;font-style: italic;" ng-if="user.description == '{}'">{{user.username}} has no description.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
