<div ng-controller="UserController">
    <div ng-include="'user_create_league.html'"></div>
    <div ng-include="'user_update_info.html'"></div>
    <!-- This is info about a user-->
    <div class="jumbotron jumbotron-fluid header-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="card-img-top rounded-circle" style="width:20%;margin:auto;" ng-src="{{user.imageurl}}" alt="Card image cap">
                    <h1 class="display-4" style="color: #ffffff">{{user.username}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead" style="color: #ffffff" ng-if="user.description != '{}'">{{user.description}}</p>
                    <p class="lead" style="color: #ffffff;font-style: italic;" ng-if="user.description == '{}'">{{user.username}} has no description.</p>
                </div>
                <div class="col-md-6">
                    <h5 class="text-right" style="color: #ffffff">{{"In " +user.lid.length+ " League" + (user.lid.length == 1?"":"s")}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5 style="color: #ffffff">Joined on {{user.joinday*1000 | date}}</h5>
                </div>
                <div class="col-md-6">
                    <span class="float-right">
                        <h5 style="color: #ffffff" ng-if="!user.vip">Standard  <a class="btn btn-success" href="#!/vip">Join VIP</a></h5>
                    </span>
                    <h5 class="text-right" style="color: #ffffff" ng-if="user.vip"><b>&#x1F31F VIP!</b></h5>
                </div>
            </div>
            <hr class="my-4" style="color: #ffffff">
            <p class="lead">
                <button ng-show="paramuid == uid" class="btn btn-primary btn-lg" ng-click="openCreateLeagueModal()">Create League</button>
                <button ng-show="paramuid == uid" class="btn btn-success btn-lg" ng-click="openUpdateUserModal();">Update User</button>
            </p>
        </div>
    </div>
    <!--<ul>
        <li>{{ user.username }}</li>
        <li> <img ng-src="{{user.imageurl}}">
        </li>
        <li ng-hide="user.description == null">{{user.description}}</li>
        <li ng-hide="user.joinDate == null">{{ user.joinDate}}</li>
    </ul>-->
    <!--<ul>
        User Stats
        <li>
            Number of Leagues: {{ user.lid.length | number }}
        </li>
    </ul>-->
    <!--ng-if="signedinuid == uid"-->
    <br>
    <!--<button ng-show="paramuid == uid" class="btn btn-primary" ng-click="openCreateLeagueModal()">Create League</button>-->

    <!--<h2>{{'Leagues '+ user.username +' is in:'}}</h2>-->
    <div ng-include="'league_list.html'"></div>
    <!--<ul ng-repeat="league in user.leagues">
        <li>{{league.leaguename}}</li>
        <li>{{league.description}}</li>
        <li>{{league.userHoldings}}</li>
        <!--may need to change-->
    <!--</ul>-->
</div>
